@model IEnumerable<EFCurso.Models.Funcionario>

<h2>Todos os funcionários</h2>
<a href="/Funcionarios/Cadastrar" class="btn btn-success">Novo funcionário</a>
<hr>
@foreach(var funcionario in Model)
{
    <p>CPF: @funcionario.Cpf</p>
    <p>Nome: @funcionario.Nome</p>
    <p>Salario: @funcionario.Salario</p>
    <a href="/Funcionarios/Editar/@funcionario.Id" class="btn btn-success">Editar</a>
    <a href="/Funcionarios/Deletar/@funcionario.Id" class="btn btn-danger">Deletar</a>
    <hr>
}